.app-container {
    text-align: center;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .countryCard {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  .country-flag {
    width: 100px;
    height: auto;
  }
  